{{define "partial:stylesheets"}}
<link rel="stylesheet" href="/static/css/tokens.css?version={{.Version}}">
<link rel="stylesheet" href="/static/css/base.css?version={{.Version}}">
<link rel="stylesheet" href="/static/css/layout.css?version={{.Version}}">
<link rel="stylesheet" href="/static/css/forms.css?version={{.Version}}">
<link rel="stylesheet" href="/static/css/components/header.css?version={{.Version}}">
<link rel="stylesheet" href="/static/css/components/footer.css?version={{.Version}}">
<link rel="stylesheet" href="/static/css/components/cookie-banner.css?version={{.Version}}">
<link rel="stylesheet" href="/static/css/utilities.css?version={{.Version}}">
{{end}}
