# Git
.git
.gitignore

# Documentation
*.md
README.html
LICENSE

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Development files
*.zip
.DS_Store
assets/static/dist
frontend/node_modules
frontend/coverage
frontend/.vite

# IDE
.vscode
.idea
*.swp
*.swo
